@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;800&family=Fraunces:wght@700;900&display=swap");
@media screen and (max-width: 1000px) {
  body {
    margin: 0%;
    padding: 0%;
    font-family: "Barlow", sans-serif;
  }

  img {
    vertical-align: middle;
  }

  p {
    word-break: break-word;
  }

  a {
    text-decoration: none;
  }

  .header-image-div {
    height: 800px;
    z-index: -1;
    background: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
  }

  .header-absolute {
    position: absolute;
    width: 100%;
  }

  .header-texts {
    margin: 40px 50px 0 40px;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 100%;
  }

  .home {
    font-size: 2rem;
    font-weight: 900;
  }

  .header-logo {
    width: 10rem;
  }

  .hamburger-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
  }

  .hamburger {
    width: 30px;
    cursor: pointer;
  }

  .talk-bubble {
    padding: 0;
    margin: 80px 0 0 0;
    position: absolute;
    width: 360px;
    height: 360px;
    background-color: white;
    z-index: 1;
  }

  .tri-right.btm-right:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: 0;
    bottom: 360px;
    border: 20px solid;
    border-color: transparent #fff #fff transparent;
  }

  .talktext > a,
  .talktext > div {
    cursor: pointer;
    text-decoration: none;
  }

  .talktext > a {
    color: #a7abae;
  }

  .talktext {
    margin-top: 30px;
    height: 300px;
    text-align: left;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 700;
  }

  .contact {
    font-family: "Fraunces", serif;
    color: black;
    background-color: #fad400;
    border-radius: 50000px;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-top: 85px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
    letter-spacing: 0.7rem;
    font-family: "Fraunces", serif;
    padding: 0 5%;
  }

  .arrow {
    margin-top: 60px;
    margin-left: 50%;
    transform: translate(-50%);
    z-index: 0;
  }

  .grid {
    height: 1800px;
  }

  .row1-texts {
    background: url("../images/desktop/image-transform.jpg");
  }

  .row2-texts {
    background: url("../images/desktop/image-stand-out.jpg");
  }

  .row1-texts,
  .row2-texts {
    width: 100vw;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row1-texts-child,
  .row2-texts-child {
    width: 70vw;
  }

  .paragraph {
    color: hsl(232, 10%, 55%);
    font-size: 1.1rem;
    line-height: 2rem;
  }

  .egg,
  .cup {
    display: none;
  }

  .subtitle {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2.5rem;
  }

  .more1,
  .more2 {
    display: inline;
    font-family: "Fraunces", serif;
    font-weight: 900;
    padding: 0 0.3rem;
    box-sizing: border-box;
    cursor: pointer;
    border-bottom: 8px solid rgba(80, 80, 80, 0.4);
  }

  .more1 > a,
  .more2 > a {
    color: black;
  }

  .more1:hover,
  .more2:hover {
    border-bottom: 8px solid rgb(53, 53, 53);
  }

  .row3-column1 {
    background: url("../images/mobile/image-graphic-design.jpg");
    color: hsl(167, 40%, 24%);
  }

  .row3-column2 {
    background: url("../images/mobile/image-photography.jpg");
    color: hsl(198, 62%, 26%);
  }

  .row3-column1,
  .row3-column2 {
    width: 50vw;
    float: left;
    height: 600px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .row3-column1-subtitle,
  .row3-column2-subtitle {
    margin-top: 330px;
    font-family: "Fraunces", serif;
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  .row3-column1-paragraph,
  .row3-column2-paragraph {
    width: 88%;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.08rem;
    margin-bottom: 3.5rem;
  }

  .clients-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 130px;
    width: 100vw;
  }

  .clients-title {
    font-family: "Fraunces", serif;
    font-size: 1.33rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: hsl(210, 4%, 67%);
  }

  .clients {
    margin-top: 30px;
  }

  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

  .client-image {
    border-radius: 100%;
    width: 70px;
  }

  .client-paragraph {
    margin-top: 2.6rem;
    width: 60%;
    text-align: center;
    color: hsl(213, 9%, 39%);
    line-height: 2rem;
    font-size: 1.16rem;
  }

  .client-name {
    margin-top: 2rem;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 1.1rem;
  }

  .client-job {
    margin-top: 1rem;
    color: hsl(210, 4%, 67%);
    font-size: 0.97rem;
  }

  .footer-images {
    display: flex;
    margin-top: 100px;
  }

  .footer-image {
    width: 25vw;
    height: 450px;
  }

  .footer-image1 {
    background: url("../images/desktop/image-gallery-milkbottles.jpg");
  }

  .footer-image2 {
    background: url("../images/desktop/image-gallery-orange.jpg");
  }

  .footer-image3 {
    background: url("../images/desktop/image-gallery-cone.jpg");
  }

  .footer-image4 {
    background: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }

  .footer-image1,
  .footer-image2,
  .footer-image3,
  .footer-image4 {
    background-size: cover;
  }

  .footer {
    background-color: rgba(25, 160, 126, 0.6);
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-logo {
    fill: #2c7566;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
  }

  .footer-menus {
    display: flex;
  }

  .footer-menu {
    margin: 20px 30px 80px 30px;
  }

  .footer-menu > a {
    color: #2c7566;
    cursor: pointer;
    text-decoration: none;
  }

  .footer-menu:hover {
    margin: 20px 30px 80px 30px;
  }

  .footer-menu > a:hover {
    color: #fff;
    text-decoration: none;
  }

  .social {
    margin: 0 20px;
    cursor: pointer;
    fill: #2c7566;
  }

  .social:hover {
    margin: 0 20px;
    cursor: pointer;
    fill: #fff;
  }

  .attribution {
    font-size: 0.5rem;
    text-align: center;
    color: hsl(232, 10%, 55%);
  }

  .attribution a {
    font-family: "Fraunces", serif;
    font-size: 0.7rem;
    font-weight: 900;
    color: hsl(168, 34%, 41%);
    text-decoration: none;
  }

  .hidden {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  body {
    margin: 0%;
    padding: 0%;
    font-family: "Barlow", sans-serif;
  }

  img {
    vertical-align: middle;
  }

  p {
    word-break: break-word;
  }

  a {
    text-decoration: none;
  }

  .header-image-div {
    height: 800px;
    z-index: -1;
    background: url("../images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
  }

  .header-absolute {
    position: absolute;
    width: 100%;
  }

  .header-texts {
    margin: 60px 80px 0 60px;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 100%;
  }

  .home {
    font-size: 2rem;
    font-weight: 900;
  }

  .header-logo {
    width: 10rem;
  }

  .menus {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
  }

  .menu {
    margin-left: 6%;
    font-weight: 700;
    font-size: 1.1rem;
    cursor: pointer;
  }

  .menu > a {
    color: #fff;
    text-decoration: none;
  }

  .menu-contact {
    display: table;
    color: black;
    background-color: white;
    border-radius: 100rem;
    height: 100%;
    text-align: center;
    padding: 1% 4% 1% 4%;
    font-family: "Fraunces", serif;
    font-size: 0.9rem;
  }

  .menu-contact:hover {
    display: table;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100rem;
    height: 100%;
    text-align: center;
    padding: 1% 4% 1% 4%;
    font-family: "Fraunces", serif;
    font-size: 0.9rem;
  }

  .menu-contact-text {
    display: table-cell;
    vertical-align: middle;
  }

  .title {
    margin-top: 85px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
    letter-spacing: 0.7rem;
    font-family: "Fraunces", serif;
  }

  .arrow {
    margin-top: 120px;
    margin-left: 50%;
    transform: translate(-50%);
  }

  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(3, 600px);
  }

  .row1,
  .row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row1-texts,
  .row2-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .row1-texts-child,
  .row2-texts-child {
    width: 67%;
  }

  .subtitle {
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 2.8rem;
  }

  .paragraph {
    font-size: 1.2rem;
    line-height: 2.3rem;
    color: hsl(232, 10%, 55%);
    margin: 3rem 0;
  }

  .more1,
  .more2 {
    display: inline;
    font-family: "Fraunces", serif;
    font-weight: 900;
    padding: 0 0.3rem;
    box-sizing: border-box;
    cursor: pointer;
  }

  .more1 > a,
  .more2 > a {
    color: black;
  }

  .more1 {
    border-bottom: 8px solid rgba(250, 212, 0, 0.4);
  }

  .more1:hover {
    border-bottom: 8px solid rgba(250, 212, 0, 1);
  }

  .more2 {
    border-bottom: 8px solid rgba(254, 120, 103, 0.4);
  }

  .more2:hover {
    border-bottom: 8px solid rgba(254, 120, 103, 1);
  }

  .grid-image,
  .row3-column1,
  .row3-column2 {
    width: 50vw;
    height: 600px;
  }

  .row3-column1 {
    background: url("../images/desktop/image-graphic-design.jpg");
    color: hsl(167, 40%, 24%);
  }

  .row3-column2 {
    background: url("../images/desktop/image-photography.jpg");
    color: hsl(198, 62%, 26%);
  }

  .row3-column1,
  .row3-column2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-position: center;
    background-size: cover;
  }

  .row3-column1-subtitle,
  .row3-column2-subtitle {
    font-family: "Fraunces", serif;
    font-size: 1.6rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
  }

  .row3-column1-paragraph,
  .row3-column2-paragraph {
    width: 50%;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.08rem;
    margin-bottom: 3.5rem;
  }

  .clients-page {
    height: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .clients-title {
    font-family: "Fraunces", serif;
    font-size: 1.33rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: hsl(210, 4%, 67%);
  }

  .clients {
    display: flex;
    justify-content: space-around;
    width: 83%;
    margin-top: 4rem;
  }

  .client {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .client-image {
    border-radius: 100%;
    width: 70px;
  }

  .client-paragraph {
    margin-top: 5.3rem;
    width: 90%;
    text-align: center;
    color: hsl(213, 9%, 39%);
    line-height: 2rem;
    font-size: 1.16rem;
  }

  .client-name {
    margin-top: 2rem;
    font-family: "Fraunces", serif;
    font-weight: 900;
    font-size: 1.2rem;
  }

  .client-job {
    margin-top: 1rem;
    color: hsl(210, 4%, 67%);
    font-size: 0.97rem;
  }

  .footer-images {
    display: flex;
  }

  .footer-image {
    width: 25vw;
    height: 450px;
  }

  .footer-image1 {
    background: url("../images/desktop/image-gallery-milkbottles.jpg");
  }

  .footer-image2 {
    background: url("../images/desktop/image-gallery-orange.jpg");
  }

  .footer-image3 {
    background: url("../images/desktop/image-gallery-cone.jpg");
  }

  .footer-image4 {
    background: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }

  .footer-image1,
  .footer-image2,
  .footer-image3,
  .footer-image4 {
    background-position: center;
    background-size: cover;
  }

  .footer {
    background-color: rgba(25, 160, 126, 0.6);
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-logo {
    fill: #2c7566;
    font-size: 2.3rem;
    letter-spacing: 0.1rem;
  }

  .footer-menus {
    display: flex;
  }

  .footer-menu {
    margin: 20px 30px 80px 30px;
  }

  .footer-menu > a {
    color: #2c7566;
    cursor: pointer;
    text-decoration: none;
  }

  .footer-menu:hover {
    margin: 20px 30px 80px 30px;
  }

  .footer-menu > a:hover {
    color: #fff;
    text-decoration: none;
  }

  .social {
    margin: 0 20px;
    cursor: pointer;
    fill: #2c7566;
  }

  .social:hover {
    margin: 0 20px;
    cursor: pointer;
    fill: #fff;
  }

  .attribution {
    font-size: 0.5rem;
    text-align: center;
    color: hsl(232, 10%, 55%);
  }

  .attribution a {
    font-family: "Fraunces", serif;
    font-size: 0.7rem;
    font-weight: 900;
    color: hsl(168, 34%, 41%);
    text-decoration: none;
  }

  .hidden {
    display: none;
  }
}
